<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LeaveMsg</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <script src="./js/vue.js"></script>
    <script src="//cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>


    <script>
        window.onload = function () {
            //create a vue object
            var vm = new Vue({
                el : '#app',
                data : {
                    info :[],
                    username : "",
                    content : "",
                    indexFlag : -1
                },
                methods : {
                    addMsg : function () {
                        //judge if the username and the content have been inputted
                        if(this.username == "" || this.content == ""){
                            alert("please input info");
                            return;
                        }
                        //add the info
                        this.info.push({
                            username_ : this.username,
                            content_ : this.content
                        })
                        //make textfield empty
                        this.username = ""
                        this.content = ""

                    },

                    deleteMsg : function (index) {
                        if(index == -100){
                            this.info = [];
                        } else {
                            this.info.splice(index,1);
                        }

                    }
                }
            });
        };
    </script>
</head>
<body>
    <div class="container" id="app">
        <form role="form">
            <div class="form-group">
                <label for="username">username:</label>
                <input type="text" id="username" class="form-control" v-model="username">
                <label for="content">content:</label>
                <br>
                <input type="text" id="content" class="form-control" v-model="content">
                <br>
                <input type="button" value="add" class="btn btn-primary" @click="addMsg()">
                <input type="reset" value="reset" class="btn btn-danger">
            </div>
        </form>

        <hr>

        <table class="table table-bordered table-hover">
            <caption class="h3 text-info text-center"> leave message </caption>
            <tr>
                <th class="text-center">id</th>
                <th class="text-center">username</th>
                <th class="text-center">message</th>
                <th class="text-center">operation</th>
            </tr>

            <tr class="text-center" v-for="(item, index) in info">
                <td>{{index+1}}</td>
                <td>{{item.username_}}</td>
                <td>{{item.content_}}</td>
                <td>
                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#delete-modal" @click="indexFlag = index" >delete</button>
                </td>
            </tr>

            <tr class="text-center" v-show="info.length != 0 ">
                <td colspan="4">
                    <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete-modal" @click = "indexFlag = -100">delete all</button>
                </td>
            </tr>
            <tr class="text-center" v-show="info.length == 0">
                <td colspan="4">
                    <p>have no information</p>
                </td>

            </tr>
        </table>

        <!-- model-->
        <div role="dialog" class="modal fade" id="delete-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                        <h4 class="modal-title">make sure delete?</h4>
                    </div>

                    <div class="modal-body text-right">
                        <button data-dismiss="modal" class="btn btn-danger btn-sm">no</button>
                        <button data-dismiss="modal" class="btn btn-danger btn-sm" @click = "deleteMsg(indexFlag)">yes</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>